demo-workflows/developer-mood-monitor.json
{
  "name": "🧑‍💻 Developer Mood Monitor - Internal DevCon Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "mood-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Mood Detection Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "actionMode": "stable",
        "operation": "check_coffee_machine_status"
      },
      "id": "coffee-check",
      "name": "☕ Check Coffee Machine",
      "type": "dvelopActions",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "actionMode": "stable",
        "operation": "get_meeting_count"
      },
      "id": "meeting-overload",
      "name": "📅 Count Today's Meetings",
      "type": "dvelopActions",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $('☕ Check Coffee Machine').item.json.status }}",
              "rightValue": "empty",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "coffee-crisis",
      "name": "☕ Coffee Crisis Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "actionMode": "stable",
        "operation": "send_slack_alert",
        "parameters": {
          "channel": "#emergency-coffee",
          "message": "🚨 CRITICAL: Coffee machine is empty! Developer productivity at risk! 🚨",
          "priority": "high"
        }
      },
      "id": "coffee-emergency",
      "name": "🚨 Emergency Coffee Alert",
      "type": "dvelopActions",
      "typeVersion": 1,
      "position": [900, 140]
    },
    {
      "parameters": {
        "actionMode": "stable",
        "operation": "order_coffee_supplies",
        "parameters": {
          "urgency": "maximum",
          "quantity": "emergency_stock"
        }
      },
      "id": "auto-coffee-order",
      "name": "🛒 Auto-Order Coffee",
      "type": "dvelopActions",
      "typeVersion": 1,
      "position": [900, 260]
    }
  ],
  "connections": {
    "Mood Detection Webhook": {
      "main": [
        [
          {
            "node": "☕ Check Coffee Machine",
            "type": "main",
            "index": 0
          },
          {
            "node": "📅 Count Today's Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "☕ Check Coffee Machine": {
      "main": [
        [
          {
            "node": "☕ Coffee Crisis Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "☕ Coffee Crisis Detected?": {
      "main": [
        [
          {
            "node": "🚨 Emergency Coffee Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "🛒 Auto-Order Coffee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}

