demo-workflows/hangry-developer-protocol.json
{
  "name": "🍕 The Hangry Developer Protocol",
  "nodes": [
    {
      "parameters": {
        "eventType": "user_activity_low",
        "conditions": {
          "work_hours_without_break": "> 4"
        }
      },
      "id": "hangry-trigger",
      "name": "😤 Hangry Developer Detected",
      "type": "dvelopTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "actionMode": "stable",
        "operation": "check_last_meal_time",
        "parameters": {
          "user_id": "={{ $json.user_id }}"
        }
      },
      "id": "meal-check",
      "name": "🍽️ Last Meal Check",
      "type": "dvelopActions",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('🍽️ Last Meal Check').item.json.hours_since_meal }}",
              "rightValue": "3",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "hunger-level",
      "name": "🤔 Hunger Level Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "actionMode": "stable",
        "operation": "order_emergency_pizza",
        "parameters": {
          "delivery_location": "={{ $json.office_location }}",
          "urgency": "hangry_developer",
          "note": "Emergency fuel for {{ $json.user_name }}",
          "charge_to": "developer_wellness_budget"
        }
      },
      "id": "pizza-order",
      "name": "🍕 Emergency Pizza Order",
      "type": "dvelopActions",
      "typeVersion": 1,
      "position": [860, 200]
    },
    {
      "parameters": {
        "actionMode": "stable",
        "operation": "send_team_notification",
        "parameters": {
          "channel": "#dev-team",
          "message": "🍕 Pizza incoming! {{ $json.user_name }} was too busy coding to eat. ETA: 25 min",
          "add_reaction": "pizza"
        }
      },
      "id": "team-alert",
      "name": "📢 Team Pizza Alert",
      "type": "dvelopActions",
      "typeVersion": 1,
      "position": [860, 300]
    },
    {
      "parameters": {
        "actionMode": "stable",
        "operation": "block_calendar",
        "parameters": {
          "user_id": "={{ $json.user_id }}",
          "duration_minutes": 30,
          "title": "🍕 Mandatory Food Break",
          "description": "System-enforced lunch break. No coding allowed!",
          "block_type": "wellness_break"
        }
      },
      "id": "force-break",
      "name": "⏰ Force Lunch Break",
      "type": "dvelopActions",
      "typeVersion": 1,
      "position": [860, 400]
    }
  ],
  "connections": {
    "😤 Hangry Developer Detected": {
      "main": [
        [
          {
            "node": "🍽️ Last Meal Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🍽️ Last Meal Check": {
      "main": [
        [
          {
            "node": "🤔 Hunger Level Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤔 Hunger Level Critical?": {
      "main": [
        [
          {
            "node": "🍕 Emergency Pizza Order",
            "type": "main",
            "index": 0
          },
          {
            "node": "📢 Team Pizza Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "⏰ Force Lunch Break",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}

